{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    {% if time_range == "medium_term" %}
        {% set period = "6 Months" %}
    {% elif time_range == "short_term" %}
        {% set period = "Last Month" %}
    {% else %}
        {% set period = "Multiple Years" %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
                <h4>Username: {{ user.display_name }}</h4>
                <h4>Followers: {{ user.followers.total }}</h4>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <form action="/home" method="post">
            <select name="time_range" id="time_range" onchange='if(this.value != 0) { this.form.submit(); }'>
                <option value="" disabled selected>Select time range</option>
                <option value="short_term">1 month</option>
                <option value="medium_term">6 months</option>
                <option value="long_term">Multiple years</option>
            </select>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h4>Top {{ top_tracks.limit }} Tracks Over {{ period }}</h4>
                <table class="table">
                    <th class=></th>
                    <th class=>Title</th>
                    <th class=>Artist</th>
                    {% for track in top_tracks["items"] %}
                        <tr>
                            <td class="td-img">
                                <img class="img-thumbnail" src="{{ track['album']['images'][0].url }}"/>
                            </td>
                            <td style="text-align: center;">{{ track["name"] }}</td>
                            <td style="text-align: center;">{{ track["artists"][0]["name"] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h4>Top {{ top_artists.limit }} Artists Over {{ period }}</h4>
                <table class="table">
                    <th></th>
                    <th>Artist</th>
                    {% for artist in top_artists["items"] %}
                        <tr>
                            <td class="td-img">
                                <img class="img-thumbnail" src="{{ artist['images'][0].url }}"/>
                            </td>
                            <td style="text-align: center;">{{ artist["name"] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="container-sm">
        <p>{{ top_tracks }}</p>
        <p>{{ top_artists }}</p>
    </div> -->
{% endblock %}